				<% @statuses.each do |status| %>
					<div class="well">           
              			<div class="status row">
			                <div class="span2">
			                    <% if !status || !status.user %>
			                      <img src="http://gravatar.com/avatar"/>
			                    <% else %>
			                      <img src="<%=status.user.gravatar_url %>"/>
			                    <% end %>            
			                </div>
			                <div class="span8">              
			                  <strong>
			                    <% if !status || !status.user %>
			                      Unknown
			                    <% else %>
			                      <%= status.user.fullname %>
			                    <% end %>
			                  </strong>
			                  <p><%= status.content %></p>
			                  
			                  <div class="meta">
			                    <%= link_to time_ago_in_words(status.created_at) + " ago", status ,:class => 'btn btn-primary btn-mini' %>
			                    <% if user_signed_in? && status.user_id == current_user.id %>
			                      <span class="admin">
			                        <%= link_to "Edit", edit_status_path(status),:class => 'btn btn-primary btn-mini' %>
			                        <%= link_to "Rake", status, method: :delete, data: { confirm: "Are you sure you want to delete this entry?"},:class => 'btn btn-primary btn-mini' %>
			                      </span>
			                    <% end %>
			                  </div>
			                </div>
            			</div>
          			</div>
				<% end %>			