<div class="row">
  	<div class="span12">
  		<div class="well">
			<%= simple_form_for(@status, html: {class: "form-horizontal"}) do |f| %>
				<% if @status.errors.any? %>
					<div id="error_explanation">
					  <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

					  <ul>
					  <% @status.errors.full_messages.each do |msg| %>
					    <li><%= msg %></li>
					  <% end %>
					  </ul>
					</div>
				<% end %>
				<fieldset>
		        	<legend>Edit Status</legend>
				  	<%= f.input :user_id, collection: User.all, label_method: :fullname, :autofocus => true%>  
				  	<%= f.input :content, :input_html => {:rows => 15, :style => 'width: 90%'} %>
				</fieldset>
				<div align="center" class="form-actions-center">
			    	<%= f.button :submit, :class => 'btn btn-primary' %>
			    	<%= link_to "Cancel", :back, :class => 'btn btn-primary'  %>
			  	</div>
			<% end %>						  	
		</div>
	</div>
</div>