<div class="row">
    <div class="status-index span12">
    <h2>Edit Leave</h2>
	<%= simple_form_for(@status, html: {class: "form-horizontal"}) do |f| %>
		<% if @status.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@status.errors.count, "error") %> prohibited this leave from being saved:</h2>
			  <ul>
			  <% @status.errors.full_messages.each do |msg| %>
			    <li><%= msg %></li>
			  <% end %>
			  </ul>
			</div>
		<% end %>
		<fieldset>
		  	<%= f.input :content, :input_html => {:rows => 15, :style => 'width: 90%'} %>
		</fieldset>
		<div align="center" class="form-actions-center">	    	
	    	<%= f.submit 'Update Leaf', :class => 'btn btn-primary' %>
	    	<%= link_to "Cancel", :back, :class => 'btn btn-primary'  %>
	  	</div>
	<% end %>	
  </div>
</div>