<div class="dialog">
<div class="span2"><br/></div>
<div class="span8">
  <div class="leaf-index">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, :as => :hidden %>
      <%= f.full_error :reset_password_token %>

      <fieldset class="well">
        <legend class="treebook-header">Change Your Password?</legend>
    <fieldset >
                <%= f.input :password, :label => "New password", :required => true, :autofocus => true %>
          <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %> 
        </fieldset>
      <div align="center">
          <%= f.button :submit, "Change Password", :class => 'btn btn-primary' %>
          <%= link_to "Cancel", "..", :class => 'btn btn-primary'  %>
        </div>  
      <% end %>
  </div>
</div>
<div class="span2"><br/></div>
</div>