<% @leafs.each do |leaf| %>
	<div class="leaf well-small">           
		<div class="leaf row" style="padding:0px;margin:0px;height:100%; background-color:#FFFFFF;">
      <table height="100%">
        <thead>
          <tr>
            <th align="center" class="leaf header">
              Planter
            </th>
            <th align="center"  class="leaf header">
              <table width="100%" style="height:20px; padding-left:10px; padding-right:10px;">
                <tr>
                  <td align="right">
                    <% if leaf.user_id == current_user.id %>
                      <span class="admin">
                        <%= link_to "Rake", leaf, method: :delete, data: { confirm: "Are you sure you want to delete this entry?"},:class => 'btn btn-primary btn-small' %>
                      </span>
                    <% end %>
                  </td>
                </tr>
              </table>
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="leaf span3"></td>
            <td class="meta" style="height:20px; padding-left:10px; padding-right:10px; padding-bottom:5px; vertical-align:bottom;">  
              <% if !@leaf %>
                <table width="100%">
                  <tr>                    
                    <td align="center">
                      <%= link_to 'Water this Leaf', leaf ,:class => 'btn btn-primary' %>
                    </td>
                  </tr>
                </table>
              <% end %>
            </td>
          </tr>
        </tfoot>
        <tbody> 
          <tr>
            <td class="leaf span3" align="center" style="vertical-align:top;">
              <br/>
              <% if !leaf || !leaf.user %>
                <img src="http://gravatar.com/avatar"/>
              <% else %>
                <img src="<%=leaf.user.gravatar_url %>"/>
              <% end %>   
              <br/><br/>
              <strong>
                <% if !leaf || !leaf.user %>
                  Unknown
                <% else %>
                  <%= leaf.user.fullname %>
                <% end %>
              </strong>
              <br/></br/>
              <% if leaf == @leafs.first %>
                <strong>Last Watered:</strong>
                <br/><%= leaf.updated_at %>
                <br/><br/>
              <% end %>
              <strong>Planted:</strong>
              <br/>
              <%= leaf.created_at  %>
              <br/><br/>

              <strong>Total Leaves:</strong> <%= current_user.leafs.count %>                         
              <br/></br/>
              <strong>Joined:</strong>
              <br/><%= leaf.user.created_at.strftime("%ar, %b %-d, %Y") %>
              <br/>
            </td>
            <td height="100%" class="span10" style="padding-top:15px;padding-bottom:10px;">


              <% if @leaf %>
                <div style="height:100%; width:100%; padding-top:40px; padding-left:10px; padding-right:10px;">
                  <%= leaf.content %>
                </div>  
                <br/>              
                <div align="center">                  
                  <% if user_signed_in? %>
                    <% if leaf && leaf.original_id == 0 %>
                      <%= link_to "Reply to Leaf", reply_leaf_path, class: "btn btn-success" %>
                    <% end %>
                    <% if current_user && leaf.user_id == current_user.id %>
                      <%= link_to 'Edit Leaf', edit_leaf_path(leaf), :class => 'btn btn-primary'  %>
                    <% end %>
                  <% end %>                   
                </div><br/>
              <% else %>
                <div style="height:100%; width:100%; padding-top:10px; padding-left:10px; padding-right:10px;">
                  <%= leaf.content %>
                </div>    
                <br/>           
              <% end %>
            </td>
          </tr>  
        </tbody>  
      </table>
		</div>
	</div>
<% end %>			