<div class="dialog">
<div class="span2"><br/></div>
<div class="span8">
        <div class="leaf-index">
        <br/>
        <div align="center">
          <br/>
          <h1>Welcome to Treebook!</h1>
          <br/>
          <% if user_signed_in? %>
              <h2><%= current_user.fullname %></h2>
              <br/>             
            <% end %>
            <br />
          <table width="80%">
            <tr>
              <td align="center"><table><tr>
              <% if @leafs && @leafs.count > 0 && user_signed_in? %>
                <td align="right">
                  <%= link_to 'View Other Leafs', feed_path, {:class => 'btn btn-primary btn-large'} %>
                </td>
                <td/> 
                <td align="left"/>
              <% else %>
                <td align="center"/>
              <% end %>
                <% if user_signed_in? %>
                    <%= link_to "Create a Leaf", new_leaf_path, class: "btn btn-success btn-large" %>
                <% else %>
                  <%= link_to 'Register', register_path, {:class => 'btn btn-primary btn-large'} %>
                  <%= link_to 'Log in', login_path, {:class => 'btn btn-primary btn-large'} %>
                <% end %>
              </td>
            </tr></table></td>
            </tr>
          </table>
          <br/>
          <br/>
        </div>
      </div></div></div>