<div class="row">
  <div class="span12">
    <div class="leaf-index" style="padding:0;">
		  <table width="100%" style="height:100%; background-color:#FFFFFF;">
	      <thead>
	        <tr>
	          <th align="center"  class="leaf header">
	            Edit Leaf
	          </th>
	        </tr>
	      </thead>
	      <tbody>
	      	<tr>	      		
	      		<td align="center" height="100%" style="padding-top:15px">
							<%= simple_form_for(@leaf, html: {class: "form-vertical"}) do |f| %>
								<% if @leaf.errors.any? %>
									<div id="error_explanation">
									  <h2><%= pluralize(@leaf.errors.count, "error") %> prohibited this leaf from being saved:</h2>
									  <ul>
									  <% @leaf.errors.full_messages.each do |msg| %>
									    <li><%= msg %></li>
									  <% end %>
									  </ul>
									</div>
								<% end %>

						  	<%= f.input :content, :input_html => {:rows => 15, :style => 'width: 90%'}, :autofocus => true, label: false %>
	              <% if user_signed_in?%>	              
	                <% if @leaf.user_id == current_user.id %>
										<%= f.submit 'Update Leaf', :class => 'btn btn-primary' %>
	                <% end %>
	              <% end %>
					    	
								<%= link_to "Cancel", @leaf, :class => 'btn btn-primary' %>		
							<% end %>	
						</td>
					</tr>
				</tbody>
			</table>
    </div>
  </div>
</div>   