<div class="row">
  <div class="leaf-index span12">
  <h2>New Leaf</h2>
		<%= simple_form_for(@leaf, html: {class: "form-horizontal"}) do |f| %>
			<% if @leaf.errors.any? %>
				<div id="error_explanation">
				  <h2><%= pluralize(@leaf.errors.count, "error") %> prohibited this leaf from being saved:</h2>
				  <ul>
				  <% @leaf.errors.full_messages.each do |msg| %>
				    <li><%= msg %></li>
				  <% end %>
				  </ul>
				</div>
			<% end %>
			<fieldset>
			  	<%= f.input :user_id, :input_html => { :value => current_user.id}, :as => :hidden %>  
			  	<%= f.input :content, :input_html => {:rows => 15, :style => 'width: 90%'}, :autofocus => true%>
			</fieldset>
			<div align="center">
		    	<%= f.submit 'Submit New Leaf', :class => 'btn btn-primary' %>
					<%= link_to "Cancel", feed_path, :class => 'btn btn-primary' %>		
		  	</div>
		<% end %>	
  </div>
</div>