<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%
	
		# get the user's leafs
	  if current_user
	  	@leafs = current_user.leafs.all(:order => 'created_at DESC')
	  end

	  # this is necessary because vanity_path is undefined by route.rb if a profile_name isn't provided
	  begin
	  	if(current_user)
	  		vanity = '/' + current_user.profile_name
	  	else
	  		vanity = feed_path
	  	end
	  rescue
	  	vanity = feed_path
	  end
		
		begin
			edit_path = edit_leaf_path(@leaf)
		rescue
			edit_path = ""
		end

		# check the path - show login or registration buttons?
	  case request.path
	  when new_user_registration_path, user_registration_path, register_path 
	  	show_registration = false
	  	show_login = true
	  	show_create_a_leaf = false
	  when new_user_session_path, login_path
	  	show_login = false
	  	show_registration = true
	  	show_create_a_leaf = false
	  when new_leaf_path, root_path, vanity, feed_path, edit_path
	  	show_registration = !@leafs || @leafs.count == 0
	  	show_login = false
	  	show_create_a_leaf = user_signed_in? && new_leaf_path != request.path
	  else
	  	show_registration = false
	  	show_login = false
	  	show_create_a_leaf = false
	  end
	%>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">		
			<div class="container">

				<% if user_signed_in? %>
					<a href="<%= vanity %>" class="brand"> Treebook</a>
					<%= link_to 'Pile of Leaves', feed_path , :class => 'btn btn-primary'  %>
				<% else %>
					<a href="<%= register_path %>" class="brand"> Treebook</a>
				<% end %>

				<ul class="nav pull-right">
					<% if show_create_a_leaf %>
						<%= link_to "Plant a New Leaf", new_leaf_path, class: "btn btn-success" %>		
					<% end %>
					<% if user_signed_in? %>       
						<div class="btn-group">		          			
							<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.fullname %> <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><%= link_to 'My Leaves', vanity %></li>
								<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
								<li><%= link_to 'Sign out', logout_path %></li>
							</ul>
						</div>												
					<% else %>				
						<% if show_registration %>
							<div class="btn-group">							
		          	<%= link_to 'Register', register_path, {:class => 'btn btn-primary'} %>
	      			</div>
	    			<% end %>
	      		<% if show_login %>
		        			<div class="btn-group">							
		            	<%= link_to 'Sign in', login_path, {:class => 'btn btn-primary'} %>
		        			</div>
	    			<% end %>
					<% end %>
				</ul>
			</div>
		</div> 	
	</div>
	<div class="container">
			<% flash.each do |type, message| %>
				<div class="alert <%= flash_class type %>">				
					<%= message %>
					<button class="close" data-dismiss="alert">x</button>
				</div>
			<% end %>
			<%= yield %>
	</div>
</body>
</html>
